*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    padding: 4rem;
    border-radius: 50px;
    background: #0ea2ad1a;
    color: cadetblue;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}